@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Zen+Dots&display=swap');

* { 
    margin:0;
    padding:0;
    border: none;

}

body {
    font-family: lato sans-serif;
    font-weight: 300;
    color:black;
}

/* headings and logo */

h1, h2 {
    font-family: Zen+Dots "sans-serif";
    text-transform: uppercase;
    letter-spacing: 4px;
    color:hwb(0 0% 100%);
}

/* navigation links */

#menu {
    float: right;
    font-size:110%;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

/* bar-image */

#bar-image {
    height: 500px;
    width: 100%;
    background:url('../css/images/bar-image.jpeg') no-repeat center center;

/* zoom effect on loading the page */

animation-name: bar-zoom;
animation-duration: 6s;
animation-fill-mode:forwards;

}

#bar-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

/* zoom for bar-image */
@keyframes bar-zoom {
    from {
         transform: scale(1);
    }
    to {
         transform: scale(1.1);
    }
}

/* picture and open times*/

#open-times {
    height:600px;
}


#left-about {
    width:33%;
    float:left;
    
}

#right-about {
    width: 33%;
    float:right;
}

#center-about {
   padding-top: 30px;
    width:33%;
    margin: 0 auto;

}

.center-about-heading {
    width:60;
    line-height: 20px;
    text-align: center;
}

hr {
    border-top: 1px solid black;
    margin: 10px 0;
    width:100%;
}

#welcome {
    text-align: center;
    margin:50px 0;
    font-size: 280%;
}

#left-pic {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin:0 auto;
    border-radius:50%;
    border-style:solid;
    
    
}

#left {

    background: url('../css/images/pexels-photo-274192.webp') no-repeat center center;
    height:100%;
    border-radius: 50%;
    
}

#right-pic {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin:0 auto;
    border-radius:50%;
    border-style:solid;
}

#right {
    background: url('../css/images/Safeimagekit-resized-imgpng.png') no-repeat center center;
    height:100%;
    border-radius: 50%;
}

/* drinks menu picture*/

#drinksmenu {
    background-image: url('../css/images/menu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
}