@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Zen+Dots&display=swap');

* { 
    margin:0;
    padding:0;
    border: none;
    

}

body {
    font-family: lato sans-serif;
    font-weight: 300;
    color:black;
}

/* headings and logo */

h1, h2 {
    font-family:"Zen Dots";
    text-transform:Uppercase;
    letter-spacing:4px;
    color:rgba(0, 0, 0 ) ;
}

/* navigation links */

#menu {
    float: right;
    font-size:110%;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 2.8rem;
    margin-left: 30px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

/* bar-image */

#bar-image {
    height: 500px;
    width: 100%;
    background:url('../images/bar-image.jpeg') no-repeat center center;
    
/* zoom effect on loading the page */

animation-name: bar-zoom;
animation-duration: 6s;
animation-fill-mode:forwards;

}

#bar-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#bar-outer h6 {
    visibility: hidden;
}

/* zoom for bar-image */
@keyframes bar-zoom {
    from {
         transform: scale(1);
    }
    to {
         transform: scale(1.1);
    }
}

/* picture and open times*/

#open-times {
    height:600px;
}


#left-about {
    width:33%;
    float:left;
    
}

#right-about {
    width: 33%;
    float:right;
}

#center-about {
   padding-top: 30px;
    width:33%;
    margin: 0 auto;

}

.center-about-heading {
    width:70%;
    line-height: 20px;
    text-align: center;
    margin:auto;
}

#center-about p {
    font-size: large;
}

hr {
    border-top: 1px solid black;
    margin: 10px 0;
    width:100%;
}

#welcome {
    text-align: center;
    margin:50px 0;
    font-size: 280%;
}

#left-pic {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin:0 auto;
    border-radius:50%;
    border-style:solid;
    
    
}

#left {

    background: url('../images/pexels-photo-274192.webp') no-repeat center center;
    height:100%;
    border-radius: 50%;
    
}

#right-pic {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin:0 auto;
    border-radius:50%;
    border-style:solid;
}

#right {
    background: url('../images/Safeimagekit-resized-imgpng.png') no-repeat center center;
    height:100%;
    border-radius: 50%;
}

/* drinks menu picture*/

#drinksmenu {
    background-image: url('../images/menu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height:300px;
    padding:25px 0px;
}

#drinksmenu div {
    color:darkgoldenrod;
    width:33%;
    height:150px;
    float: left;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    border: 2px solid white;
    box-sizing:border-box;
    padding:10px 0 0 10px;
}

#drinksmenu h2 {

    color:white;
}

/* Contact section */

#contact-info div {
    color:black;
    background-color: darkgoldenrod;
    width:50%;
    height:150px;
    font-size: 1.5rem;
    float:left; 
    text-align: center;
}

#contact-header {
    text-align: center;
    margin:0 ;
    font-size: 280%;
    background-color: darkgoldenrod;
    
}

/* form section */
#signup {
    clear: left;
    background: url('../images/bar-local-cong-ireland-63633.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
 margin: 150px 10% 0 0;
 color: #fff;
 background-color: rgba(60, 60, 60, 0.9);
 max-width: 400px;
 position: relative;
 left: 10%;
 padding:30px;
}

.signup-form > h2 {
 
    color: white;
    margin-bottom: 20px;
    border-color: black;
    border-radius: 2px;

}

.text-input {
    background: transparent;
    color:#fff;
    width: 100%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 3px;
    
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    color: black;
    background-color: darkgoldenrod;
    display: block;


}


/* footer */

footer {
    height: 150px;
    
    

}

footer ul {
    text-align: center;
}

footer li {
    display:inline;
}

footer i {
    font-size: 160%;
    margin:1%;
    padding:5%;
    color:black;
}

footer h2 {
    text-align: center;
}


html, body { 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


img { 
    border-radius: 50%;
    width:80px;
    float: right;
    
   
}
/* media queries */

/* medium */

@media screen and (min-width:550px)  and (max-width:1024px) {

    #menu {
        float: left;
    }

    #left-about {
        display: none;
    }

    #right-about {
            display: none;

    }

    #div p {
        font-size: small;
    }

    #hidden {
        visibility: hidden;
    }

    #drinksmenu h2 {
        font-size: medium;
    }
}

/* small devices */

    @media screen and (max-width:550px) {
     
        #open-times {
            display: none;
        }
    
        #drinksmenu {
            font-size: small;
        }
        
        #menu {
            font-size: small;
            float: left;
            
        }

        #get-in-touch {
            font-size: medium;
        }

        #drinksmenu h2 {
            font-size: medium;
        }
        
    }


    @media screen and (max-width:400px) {

        #menu {

            font-size: small;
        }

        img {
            visibility: hidden;
        }

        #signup-form {
            position: absolute;
        }



    }